

<div class="projects-container animate__animated animate__fadeIn">

    <div class="spiner" *ngIf="!project">
        <i class="fas fa-spinner fa-spin"></i> Cargando...
    </div>

    <div *ngIf="project">

        <h2>{{project.nombre}}</h2>
        <p class="back"><a routerLink="/proyectos"><i class="fas fa-arrow-left"></i></a></p>
        <div class="proyecto-img-container">
            <img class="proyecto-img" src="{{project.img}}" alt="">
        </div>
        
        <div class="proyecto-info">
            <p>{{project.desc}}</p>
        </div>

        <div class="proyecto-iconos">
            <img *ngFor="let icon of project.tecnologias" class="proyecto-icono" src="assets/img/{{icon}}.png" alt="">
        </div>

    </div>
</div>
