.navbar {
    background: rgb(28, 28, 30);
    border-bottom: 1px solid rgb(56, 56, 58);
}

.main {
    background: rgb(0, 0, 0);
}

#sidebar {
    background: rgb(28, 28, 30);
    border-right: 1px solid rgb(56, 56, 58);
}

.footer {
    background: rgb(56, 56, 58);
    border-top: 1px solid rgb(72, 72, 72);
}