.navbar {
    background: rgb(245, 246, 246);
    border-bottom: 1px solid rgb(178, 178, 178);
}

.main {
    background: rgb(255, 255, 255);
}

#sidebar {
    background: rgb(242, 242, 247);
    border-right: 1px solid rgb(198, 198, 200);
}

.footer {
    background: rgb(245, 245, 246);
    border-top: 1px solid rgb(174, 167, 171);
}

.navbar-text {
    color: #000;
}

/*.btn-theme {
    box-shadow: 4px 4px 3px gray;
}*/

.btn-theme {
    -webkit-box-shadow: 4px 4px 3px gray;
            box-shadow: 4px 4px 3px gray;
}

.sidebar-text h1 {
    color: #000;
}

.sidebar-item a span {
    color: #000;
}

.icon {
    color: #000;
}

.main-content {
    background: rgba(207, 207, 207, 0.38);
}

.about-text h2 {
    color: #000;
}

.about-text p {
    color: rgb(46, 46, 46);
}

.skills-container h2 {
    color: #000;
}

.skills-container p {
    color: #000;
}

.spiner {
    color: #000;
}

.projects-container h2 {
    color: #000;
}

.proyecto-info {
    color: #000;
}