.navbar {
    background: rgb(245, 246, 246);
    border-bottom: 1px solid rgb(178, 178, 178);
}

.main {
    background: rgb(255, 255, 255);
}

.sidebar {
    background: rgb(242, 242, 247);
    border-right: 1px solid rgb(198, 198, 200);
}

.footer {
    background: rgb(245, 245, 246);
    border-top: 1px solid rgb(174, 167, 171);
}