
    <div class="about-container animate__animated animate__fadeIn">
        <div class="about-text">
            <h2>¿Quién soy?</h2>
            <p>Hola! Me llamo David Gamiño Ponce y soy <span>Frontend Developer</span>, actualmente vivo en la Ciudad de México.</p>
            <div class="buttons">
                <div class="btn-about"> <a routerLink="/proyectos">Proyectos</a></div>
                <div class="btn-about"><a target="_blank" href="https://www.linkedin.com/in/david-ponce-681450204/">Contacto</a></div>
            </div>
            
        </div>
        <div class="about-img-container">
            <img class="about-img" src="../../../assets/img/code.svg" alt="Desarrollador Web">
        </div>
    </div>

