<div class="projects-container animate__animated animate__fadeIn">

    <h2 class="">Proyectos</h2>

    <div class="spiner" *ngIf="projectService.cargando">
        <i class="fas fa-spinner fa-spin"></i> Cargando...
    </div>

    <div class="project-items" *ngIf="!projectService.cargando">

        <div class="project" *ngFor="let project of projectService.projects">
            <img class="project-img" src="{{project.img}}" alt="{{project.nombre}}">
            <div class="project-icons">
                <a target="_blank" href="{{project.github}}"><i class="fas fa-code"></i></a>
                <a [routerLink]="['/proyecto', project.id]"><i class="far fa-file-alt"></i></a>
                <a target="_blank" href="{{project.url}}"><i class="fas fa-globe-americas"></i></a>
                <div class="project-name">{{project.nombre}}</div>
            </div>

        </div>

    </div>

</div>
