.navbar {
    background: rgb(28, 28, 30);
    border-bottom: 1px solid rgb(56, 56, 58);
}

.main {
    background: rgb(0, 0, 0);
}

#sidebar {
    background: rgb(28, 28, 30);
    border-right: 1px solid rgb(56, 56, 58);
}

.footer {
    background: rgb(56, 56, 58);
    border-top: 1px solid rgb(72, 72, 72);
}

.navbar-text {
    color: #fff;
}

.btn-theme {
    box-shadow: 4px 4px 3px black;
}

.sidebar-text h1 {
    color: #fff;
}

.sidebar-item a span {
    color: #fff;
}

.icon {
    color: #fff;
}

.main-content {
    background: rgba(31, 31, 31, 0.384);
}

.about-text h2 {
    color: #fff;
}

.about-text p {
    color: rgb(156, 156, 156);
}

.skills-container h2 {
    color: #fff;
}

.skills-container p {
    color: #fff;
}

.spiner {
    color: #fff;
}

.projects-container h2 {
    color: #fff;
}

.proyecto-info {
    color: #fff;
}