
<div class="footer-container">
    <p>Diseñado y desarrollado por David Ponce &copy;</p>
    <div class="social">
        <ul class="icons">
            <li>
                <a class="icon" href="#"><i class="fab fa-linkedin-in"></i></a>
            </li>
            <li>
                <a class="icon" href="#"><i class="fab fa-github"></i></a>
            </li>
            <li>
                <a class="icon" href="#"><i class="fab fa-instagram"></i></a>
            </li>

            <li>
                <a class="icon" href=""><i class="fab fa-twitter"></i></a>
            </li>
        </ul>
    </div>
</div>